<nav class="container navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/kendoGrid']"><span></span> Sample Application</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a [routerLink]="['/kendoGrid']"><span></span> Kendo UI Grid</a></li>
      <li><a [routerLink]="['/angularMeterial']"><span></span> Angular Meterial</a></li>
      <li><a (click)="open()" [routerLink]=""><span></span> Kendo UI Window Popup</a></li>
      <!-- <li><a (click)="" [routerLink]=""><span></span> Angualar Meterial Dialog</a></li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="example-wrapper">
  <p *ngIf="dataSaved">Data has been saved</p>
  <kendo-window title="Login" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">

  <form class="k-form">
    <label class="k-form-field">
      <span>User Name</span>
      <input class="k-textbox" placeholder="User Name" />
    </label>
    <label class="k-form-field">
      <span>Password</span>
      <input class="k-textbox" placeholder="Password" />
    </label>
  
    <div class="text-right">
      <button type="button" class="k-button" (click)="close()">Cancel</button>
      <button type="button" class="k-button k-primary" (click)="login()">Login</button>
    </div>
  </form>

  </kendo-window>
</div>





